* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #2F2E41;
}


nav {
    margin: 71px 100px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;

    list-style: none;
}

li {
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
    font-weight: 500;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    color: white;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 4rem;
}

p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 2.3rem;
}

footer {
    margin: 6rem 0rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    font: 14px;
    line-height: 28px;
    text-align: center;
}

#line {
    width: 568px;
    height: 0;

    margin: 0 auto 10px;
    border: 1px solid #0079f2;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2rem;
}

strong {
    color: #00BFA6;
}

span {
    color: #C2C2C2;
}

p,
a {
    color: #ffffff;
}